In [6]:
import json
import requests
import numpy as np
import pandas as pd
import io

In [7]:
codes = pd.read_excel('C:/Users/kvoorhees/census_know/vulnerable_pops_census_codes.xlsx')
codes.head()

,code,table type,rate/total/mean/median,individual or household,short title,topic,description,definition,denominator,Unnamed: 9
0,S1101_C01_013E,subject,total,household,NaN,age,total households composed entirely of adults 6...,Total!!Estimate!!Total households!!SELECTED HO...,NaN,NaN
1,S1601_C01_001E,subject,total,individual,NaN,language,total population 5 years and over with languag...,Total!!Estimate!!Population 5 years and over,NaN,NaN
2,S1601_C01_003E,subject,total,individual,NaN,language,total individuals speaking a language other th...,Total!!Estimate!!Speak a language other than E...,S1601_C01_001E,NaN
3,S1601_C06_001E,subject,rate,individual,NaN,language,percent of people with language determination ...,Percent of specified language speakers!!Percen...,S1601_C01_001E,NaN
4,S0101_C01_028E,subject,total,individual,NaN,age,total individuals 65 years or older,Total!!Estimate!!SELECTED AGE CATEGORIES!!65 y...,NaN,NaN

In [8]:
codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 10 columns):
code                       179 non-null object
table type                 164 non-null object
rate/total/mean/median     164 non-null object
individual or household    164 non-null object
short title                0 non-null float64
topic                      164 non-null object
description                42 non-null object
definition                 179 non-null object
denominator                43 non-null object
Unnamed: 9                 2 non-null object
dtypes: float64(1), object(9)
memory usage: 14.1+ KB

In [11]:
url = "https://api.census.gov/data/" +  '2017' + "/acs/acs5/subject?get=NAME," +\
           'S1101_C01_013E' + "&for=tract:*&in=state:36&in=county:*&key=" + myAPI
resp = requests.request('GET', url).content
subject_data = pd.read_csv(io.StringIO(resp.decode('utf-8').replace('[','').replace(']','')))

subject_data.head()

,NAME,S1101_C01_013E,state,county,tract,Unnamed: 5
0,"Census Tract 134, Westchester County, New York",9.7,36,119,13400,NaN
1,"Census Tract 135, Westchester County, New York",3.2,36,119,13500,NaN
2,"Census Tract 146.05, Westchester County, New York",31.3,36,119,14605,NaN
3,"Census Tract 1.04, Westchester County, New York",0.0,36,119,104,NaN
4,"Census Tract 111.02, Westchester County, New York",6.4,36,119,11102,NaN

In [19]:
url = "https://api.census.gov/data/" +  '2017' + "/acs/acs5/?get=NAME," +\
            'B28005_006E' + "&for=tract:*&in=state:36&in=county:*&key=" + myAPI
resp = requests.request('GET', url).content
detail_data = pd.read_csv(io.StringIO(resp.decode('utf-8').replace('[','').replace(']','')))
detail_data.iloc[102]

NAME           Census Tract 401, Kings County, New York
B28005_006E                                          58
state                                                36
county                                               47
tract                                             40100
Unnamed: 5                                          NaN
Name: 102, dtype: object

In [ ]:
myAPI = '90341a28f02794c77f6e3abb153a4952a0bb480b'

def subject_pull(code, year):
    url = "https://api.census.gov/data/" +  year + "/acs/acs5/subject?get=NAME," +\
            code + "&for=tract:*&in=state:36&in=county:*&key=" + myAPI
    resp = requests.request('GET', url).content
    subject_data = pd.read_csv(io.StringIO(resp.decode('utf-8').replace('[','').replace(']','')))
    return subject_data

def detail_pull(code, year):
    url = "https://api.census.gov/data/" +  year + "/acs/acs5/?get=NAME," +\
            code + "&for=tract:*&in=state:36&in=county:*&key=" + myAPI
    resp = requests.request('GET', url).content
    detail_data = pd.read_csv(io.StringIO(resp.decode('utf-8').replace('[','').replace(']','')))
    return detail_data

oops_list = []

for index, data in codes.iterrows():
    vtype = data[1]
    code = data[0]
    if vtype == 'subject':
        df = subject_pull(code, '2017')
        print(code)
        try: 
            avg = df[code].mean()
        except: 
            print('error')
            oops_list.append(code)
        if avg < 0:
                oops_list.append(code)
        elif avg > 0: 
                pass
    elif vtype == 'detail':
        df = detail_pull(code, '2017')
        print(code)
        try: 
            avg = df[code].mean()
        except: 
            print('error')
            oops_list.append(code)
        if avg < 0:
                oops_list.append(code)
        elif avg > 0: 
                pass

S1101_C01_013E
S1601_C01_001E
S1601_C01_003E
S1601_C06_001E
S0101_C01_028E
S1701_C03_001
error
S0801_C01_047E
S0801_C01_048E
S0801_C01_001
error
S0801_C01_045E
S0801_C01_046E
S0801_C01_013E
S0801_C01_010E
S0801_C01_011E
S0801_C01_009E
S0802_C01_007E
S0802_C01_040
error
S0802_C01_042E
S0802_C01_046E
S0802_C01_047E
S0802_C01_049E
S0802_C01_050E
S0802_C01_054
error
S0802_C01_065E
S0802_C04_007E
S0802_C04_027E
S0802_C04_038E
S0802_C04_039E
S2401_C01_001E
S2401_C01_020E
S2401_C01_024E
S2401_C01_029E
S2401_C01_031E
S2401_C01_032E
S2401_C01_035E
S2401_C01_036E
S1810_C01_001E
S1810_C01_013E
S1810_C01_014E
S1810_C01_017E
S1810_C01_018E
S1810_C01_020E
S1810_C01_021E
S1810_C01_026E
S1810_C01_028E
S1810_C01_030E
S1810_C01_031E
S1810_C01_036E
S1810_C01_038E
S1810_C01_039E
S1810_C01_040E
S1810_C01_044E
S1810_C01_046E
S1810_C01_047E
S1810_C01_048E
S1810_C01_052E
S1810_C01_054E
S1810_C01_055E
S1810_C01_056E
S1810_C01_060
error
S1810_C01_062E
S1810_C01_063E
S1810_C01_067E
S1810_C01_069E
S1810_C02_001E
S1810_C02_013E
S1810_C02_014E
S1810_C02_017E
S1810_C02_018E
S1810_C02_019E
S1810_C02_020E
S1810_C02_022E
S1810_C02_023E
S1810_C02_026E
S1810_C02_028E
S1810_C02_029
error
S1810_C02_030E
S1810_C02_031E
S1810_C02_032E
S1810_C02_033E
S1810_C02_036E
S1810_C02_038E
S1810_C02_039E
S1810_C02_041E
S1810_C02_044E
S1810_C02_046E
S1810_C02_048E
S1810_C02_049E
S1810_C02_055E
S1810_C02_056E
S1810_C02_057E
S1810_C02_060E
S1810_C02_062E
S1810_C02_063E
S1810_C02_067E
S1810_C02_069E

In [ ]:
oops_list = []

for index, data in codes.iterrows():
    vtype = data[1]
    code = data[0]
    if vtype == 'subject':
        df = subject_pull(code, '2017')
        print(code)
        if df.iloc[100,1] == np.nan or df.iloc[100,1] == -888888888:
                oops_list.append(code)
        elif df.iloc[100,1] != np.nan and df.iloc[100,1] != -888888888:
                print(df[code].mean())
    elif vtype == 'detail':
        df = detail_pull(code, '2017')
        print(code)
        if df.iloc[100,code] == np.nan or df.iloc[100,code] == -888888888:
                oops_list.append(code)
        elif df.iloc[100,code] != np.nan and df.iloc[100,code] != -888888888:
                print(df[code].mean())

In [ ]:
url = "https://api.census.gov/data/" + '2017' + "/acs/acs5/subject?get=NAME," +\
total_households + ',' + \
total_female_head_children + ',' + \
total_w_children  + ',' + \
household_size_avg + ',' + \
family_size_avg + ',' + \
total_older_on_own + ',' + \
total_renters + ',' + \
total_lang_speakers + ',' + \
total_home_lang_other + ',' + \
perc_english_learners + "&for=zip%20code%20tabulation%20area:*&key=" + myAPI

resp = requests.request('GET', url).content
subject_data = pd.read_csv(io.StringIO(resp.decode('utf-8').replace('[','').replace(']','')))

In [ ]:
url = "https://api.census.gov/data/" + '2017' + "/acs/acs5/?get=NAME," +\
total_born + ',' + \
total_foreign_born+ ',' + \
total_new_im + ',' + \
white  + ',' + \
total_pop + ',' + \
total_im + "&for=zip%20code%20tabulation%20area:*&key=" + myAPI

resp = requests.request('GET', url).content
detail_data = pd.read_csv(io.StringIO(resp.decode('utf-8').replace('[','').replace(']','')))
detail_data = detail_data.drop(['Unnamed: 8','NAME'], axis=1)
detail_data = detail_data.rename(columns={total_born : 'total_born',total_foreign_born: 'total_foreign_born',
                                    total_new_im :'total_new_im', total_im : 'total_im',
                                          'zip code tabulation area':'zip'})